/* ************************************************ */
/*	Author	:	Eslam Ehab Aboutaleb				*/
/*	Date	:	5/12/2020							*/
/*	Version	:	V01									*/
/* ************************************************ */


*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.body{
	color: #fff;
	background: #121212;
}

.main{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(26,26,26,0.7),rgba(26,26,26,0.7)),url("ota.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

nav{
	width: 80%;
	position: sticky;
	margin: auto;
	z-index: 1;
	display: flex;
	align-items: center;
	top: 7%;
}
.nav-links{
	
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
}
.container
{
	margin-left:550px;
}

.wrapper{
	width: 200px;
	padding: 7px;
	box-shadow: 0px 0px 10px rbga(0,0,0,0.1);
}
.wrapper .inputdata input{
	height: 100%;
	width:80%;
	border:none;
	border-bottom: 2px solid silver;
	font-size: 17px;
	
}


.btn{
	border:1px solid #3498db;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
	outline: none;
	border-radius: 24px;	
}

.bt1{
	color: #3498db;
	border: 1px solid #000;
	border-radius: 5px;
	
}

.btn1:hover{
	color: #fff;
}

.btn::before{
	content:"";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #3498db;
	z-index : -1;
	transition: 0.8s;
}

.btn::before{
	top:0;
	border-radius: 0 0 50% 50 %;
}

.btn:hover::before{
	height: 180%;
}

.box {
    width: 500px;
    margin: 250px 0;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 0px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 17px;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 250px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.shape1{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F5F5DC;
    border-radius: 80px;
    float: left;
    margin-right: -50px;
}
.shape2 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F5F5DC;
    border-radius: 80px;
    margin-top: -30px;
    float: left;
}
.shape3 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F5F5DC;
    border-radius: 80px;
    margin-top: -30px;
    float: left;
    margin-left: -31px;
}
.shape4 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F5F5DC;
    border-radius: 80px;
    margin-top: -25px;
    float: left;
    margin-left: -32px;
}
.shape5 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F5F5DC;
    border-radius: 80px;
    float: left;
    margin-right: -48px;
    margin-left: -32px;
    margin-top: -30px;
}
.shape6 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F5F5DC;
    border-radius: 80px;
    float: left;
    margin-right: -20px;
    margin-top: -35px;
}
.shape7 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F5F5DC;
    border-radius: 80px;
    float: left;
    margin-right: -20px;
    margin-top: -57px;
}
.float {
    position: absolute;
    z-index: 2;
}

.form {
    margin-left: 145px;
}